.navbar_container {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: white;
    background-color: rgb(5, 5, 81);
    /* background-color: #80B3FF; */
    left: 0;
    /* right: -100%; */
    /* right: 0; */
    /* background-color: #f1f1f1; */
    display: flex;
    justify-content: center;
}

.navbar {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    /* padding: 0 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: 200px;
}

.nav_wrapper {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    /* padding-left: 50px; */
}

.site_logo {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.links {
    padding: 0 5px;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}
.links:hover{
    background-color: red;
}

.nav_right {
    display: flex;
    gap: 20px;
}

@keyframes rotate {
    0%{
        transform: scale(1.2) rotate(0deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

.navbar__toggle {
    position: absolute;
    right: 5px;
    cursor: pointer;
    display: none;
    z-index: 3;
}

.navbar__toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: black;
}

@media screen and (max-width: 900px) {
    .site_logo {
        font-size: 1.5rem;
    }

    /* .links, */
    .dropdown_name {
        font-size: 1.2rem;
    }

    .dropdown_links {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .links {
        color: white;
    }

    .navbar__toggle .bar {
        background-color: grey;
    }

    .navbar__toggle {
        display: block;
    }

    .navbar__toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar__toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar__toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_wrapper {
        position: fixed;
        right: -100%;
        /* right: 0; */
        top: 0;
        width: 60%;
        height: 100%;
        flex-direction: column;
        background: rgb(246, 243, 243, 1);
        background: rgb(0, 0, 0, 0.75);
        padding: 30px;
        transition: 0.3s;
        z-index: 3;
    }

    .nav_wrapper.active {
        right: 0;
    }

    .nav_right {
        flex-direction: column;
        justify-content: space-between;
    }
    .nav_items{
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .nav_wrapper {
        padding: 30px 5px;
        width: 80%;
    }

    .nav_right {
        /* gap: 5px; */
    }
}